* {
  font-family: "lucida console", "courier new";
}

body {
  margin: 20px;
  font-size: 11px;
  width: 95%;
  overflow-y: scroll; /* force scrollbar always */
  background: url("assets/wallpaper.png");
}

/* preload images https://stackoverflow.com/a/14390213/6243352 */
body::after {
  position: absolute; 
  width: 0; 
  height: 0; 
  overflow: hidden; 
  z-index: -1; 
  content: url("assets/revealed.png") 
           url("assets/1.png")
           url("assets/2.png")
           url("assets/3.png")
           url("assets/4.png")
           url("assets/5.png")
           url("assets/6.png")
           url("assets/7.png")
           url("assets/8.png")
           url("assets/mine.png")
           url("assets/help.png")
           url("assets/flag.png")
           url("assets/question.png")
           url("assets/hidden.png")
  ;
}

input { 
  text-align: right; 
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mstile {
  padding-top: 0px;
  padding-bottom: 0px;
}

#mscontainer {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
  border-collapse: collapse;
}

/* Isometric grid https://codepen.io/joshnh/pen/IchEz
#mscontainer table {
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
  -webkit-transform-style: preserve-3d;
} */

#msheader {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 290px; 
}

a, a:hover, a:visited, a:active {
  color: #000;
  text-decoration: none !important;
}
